.adventure{
    margin: 39px 100px 0 100px; 
}

.adventure-title{
    text-align: center;
    font-weight: 700;
    font-size: 48px;
}

.adventure-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 24px;
}

.nft-card{
    background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
    border: 1px solid #D7D7D7;
    border-radius: 15px;
    padding: 1rem;
    margin-top: 43px;
}

.nft-card-image{
    width: 100%;
}

.nft-card-image > img{
    width: 100%;
}

.nft-card-title, .nft-card-desc{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 400;
    margin-top: 10px;
}

.nft-card-rating{
    margin-top: 10px;
}






@media screen and (max-width: 768px) {
    .inspo{
        margin: 25px;
    }

    .inspo-cards{
        grid-template-columns: 1fr 1fr;
    }   
}


@media screen and (max-width: 425px){
    .inspo-cards{
        grid-template-columns: 100%;
    }  
}