.nfts{
    display: flex;
    background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
    padding: 3rem 6rem;
}

.nft-text{
    margin-top: 86px;
}

.nft-text h3{
    font-weight: 700;
    font-size: 35px;
    color: #FFFFFF;
}

.nft-text p{
    font-weight: 400;
    font-size: 18px;
    line-height: 35px;
    margin-top: 40px;
    color: #FFFFFF;
}

.nft-text a{
    display: block;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: #A02279;
    background-color: #FFFFFF;
    border-radius: 8px;
    margin-top: 40px;
    padding: .7rem 1.2rem;
}
