.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 60px 5%;
}
.hero-section--texts {
    width: 50%;
    margin-top: 20px;
    color: #434343;
}
.hero-section--texts h1 {
    font-size: 50px;
    font-weight: 500;
}
.hero-section--texts h1 span {
    color: #A02279;
}
.hero-section--texts p {
    width: 90%;
    font-size: 18px;
    line-height: 30px;
}
.search-field {
    display: flex;
    margin-top: 30px;
    width: 85%;
}
.search-field input {
    padding: 15px;
    flex: 1;
    color: #a3a3a3;
    border: 1px solid #a3a3a3;
    border-radius: 8px 0 0 8px;
}
.search-field button {
    padding: 15px 13%;
    color: #fff;
    background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.46%);
    border: 1px solid #A02279;
    border-radius: 0px 8px 8px 0px;
}
.hero-section img {
    width: 43%;
    padding: 0 0 0 30px;
}

.brands {
    background: #A02279;
    padding: 0px 6%;
    display: flex;
    justify-content: space-between;
    overflow-x: hidden;
}
.brands a {
    padding: 10px;
}
.inspirations {
    padding: 5%;
}
.inspirations h1 {
    text-align: center;
}
.inspirations .places {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-flow: dense;
}
.nfts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 5%;
    background-color: #A02279;
    color: #fff;
    line-height: 40px;
}
.nfts--texts {
    width: 50%;
    padding: 40px 0;
}
.nfts img {
    width: 50%;
    padding: 0 5%;
}
.nfts a {
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 8px;
    color: #A02279;
    background-color: #fff;
}

@media (max-width: 1000px) {
    .hero-section {
        flex-wrap: wrap;
    }
    .hero-section--texts {
        width: 100%;
        margin-top: 0;
    }
    .hero-section img {
        width: 100%;
        padding: 50px 0;
    }
    .brands a img {
        height: 25px;
    }
    .nfts {
        flex-wrap: wrap;
    }
    .nfts--texts {
        width: 75%;
    }
    .nfts img {
        width: 75%;
    }
}
@media (max-width: 760px) {
    .hero-section--texts h1 {
        font-size: 40px;
    }
    .hero-section--texts p {
        width: 100%;
    }
    .search-field {
        width: 100%;
    }
    .search-field input {
        width: 70%;
    }
    .search-field button {
        text-align: center;
        padding: 15px;
        width: 30%;
    }
    .brands a img {
        height: 18px;
    }
    .nfts--texts {
        width: 100%;
    }
}